/* Filter */

.filter-container {
  grid-row: 1/3;
  border-right: 1px solid rgb(185, 185, 185);
  width: 100%;
  margin-right: 10rem;
}

.filter-dropdown {
  margin: auto;
}

.filter-dropdown:hover {
  cursor: pointer;
}

.brand-list {
  list-style: none;
  cursor: pointer;
}

.brand-list li {
  padding: 0.3rem;
  background-color: white;
  border: none;
}
.brand-list li:hover {
  background-color: aliceblue;
}

.brand-list button {
  font-size: 1rem;
  padding: 0.3rem;
  background-color: aliceblue;
  border: none;
}

/* Price Range Slider */

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.example-track.example-track-0 {
  background-color: rgb(196, 196, 196);
}

.example-track.example-track-1 {
  background-color: green;
}

.example-track.example-track-2 {
  background-color: rgb(196, 196, 196);
}

.horizontal-slider .example-thumb {
  top: 20%;
  width: 30px;
  height: 30px;
  line-height: 25px;
  font-size: 0.9em;
  text-align: center;
  background-color: white;
  cursor: pointer;
  border: 2px solid gray;
  box-sizing: border-box;
  border-radius: 50%;
}
