.filter-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem;
  gap: 1rem;
  min-width: 15rem;
}

.brands-container {
  position: relative;
}

.brands-title {
  margin: auto;
  cursor: pointer;
}

.brands-list {
  list-style: none;
  transform: translateY(0rem);
  transition: display 1s ease-in-out;
}

.brands-list li {
  padding: 0.3rem;
  background-color: white;
  border: none;
}
.brands-list li:hover {
  background-color: aliceblue;
}

.brands-list button {
  font-size: 1rem;
  padding: 0.3rem;
  background-color: aliceblue;
  border: none;
  cursor: pointer;
}

/* Price Range Slider */
.price-range-container {
  display: flex;
  flex-direction: column;
}

.horizontal-slider {
  width: 80%;
  max-width: 500px;
  height: 50px;
  margin: auto;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.example-track.example-track-0 {
  background-color: rgb(196, 196, 196);
}

.example-track.example-track-1 {
  background-color: rgb(38, 153, 38);
}

.example-track.example-track-2 {
  background-color: rgb(196, 196, 196);
}

.horizontal-slider .example-thumb {
  top: 24%;
  width: 25px;
  height: 25px;
  line-height: 10px;
  text-align: center;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgb(38, 153, 38);
  box-sizing: border-box;
  border-radius: 50%;
}

.price-range {
  margin: auto;
  background-color: rgb(201, 201, 201);
  padding: 1rem;
  border-radius: 1rem;
}
