.navbar {
  display: flex;
  width: 100%;
}

.navbar-header {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2rem;
  align-self: flex-start;
}

.logo-image {
  width: 100px;
}

.navbar-buttons {
  display: flex;
  list-style: none;
  margin: auto;
  margin-right: 1rem;
  scroll-behavior: smooth;
}

.navbar-buttons a {
  scroll-behavior: smooth;
  text-decoration: none;
  font-weight: 900;
  color: #070707;
  background-color: white;
  padding: 1rem;
  transition: border-bottom 0.2s linear, transform 0.2s ease-in;
  cursor: pointer;
}

.navbar-buttons a:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
  transform: scale(1.1);
}

.burger-btn {
  display: none;
  border: none;
  background-color: white;
  font-size: 3rem;
}

.shopping-cart {
  display: flex;
  margin: 1rem;
  font-size: 25px;
  margin-right: 2rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.shopping-cart:hover {
  transform: scale(1.1);
}

.cart-icon {
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin: auto;
}

.product-counter {
  font-size: 15px;
  margin-top: 0.5rem;
}

@media screen and (max-width: 618px) {
  .navbar {
    justify-content: center;
    align-items: center;
  }

  .navbar-buttons {
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 80vh;
    padding: 3rem 0;
    gap: 2rem;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -120%;
    z-index: 1;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: left 0.5s ease-in;
  }

  .navbar-buttons.show {
    display: flex;
    left: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  .navbar-buttons a {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-left: 3rem;
  }

  .burger-btn {
    display: block;
    order: 1;
    margin-right: auto;
    margin-left: 1rem;
  }
  .navbar-header {
    order: 2;
    margin: auto;
  }
  .shopping-cart {
    order: 3;
    margin-left: auto;
    margin-right: 1rem;
  }
  .cart-icon {
    font-size: 30px;
  }

  .menu-laptop {
    width: 80%;
    margin: auto;
    border-radius: 1rem;
  }
}
