.products-items {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
}

.laptop-item {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border: 1px solid rgba(170, 170, 170, 0.562);
  border-radius: 6px;
  width: 30%;
  max-width: 350px;
  position: relative;
}

.laptop-item:hover {
  transform: scale(1.08);
  transition: transform 300ms;
}

.laptop-details {
  display: grid;
  grid-template-rows: auto auto auto auto;
  text-align: left;
  padding: 1rem;
}

.laptop-photo {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

.laptop-brand {
  padding: 0.5rem;
}

.laptop-model {
  padding: 0.5rem;
}

.laptop-price {
  padding: 0.5rem;
  color: gray;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2rem;
}

.add-cart {
  width: 50%;
  background-color: rgb(38, 153, 38);
  color: white;
  border-radius: 6px;
  border: none;
  position: absolute;
  padding: 0.5rem;
  justify-self: center;
  bottom: 1rem;
  cursor: pointer;
}

.add-cart.added {
  color: green;
  background-color: rgb(221, 221, 221);
}

.no-product {
  margin: auto;
  padding: 3rem;
  background-color: rgb(214, 214, 214);
  text-align: center;
  border-radius: 1rem;
}

.no-product-logo {
  font-size: 50px;
}

@media screen and (max-width: 650px) {
  .products-items {
    justify-content: center;
  }
}
