body {
  margin: 0;
  font-family: sans-serif;
}

.page-container {
  /* overflow-x: hidden; */
  position: relative;
  width: 100%;
}

.products-container {
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  margin: 2rem 3rem;
}
